@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Generando un passbook para Wallet-2do Adviento Xamarin</h1>
    <p class="lead">Ejemplo de como generar un pase para wallet funcional para iOS y Android</p>
</div>

<div class="row">
   <div class="col-md-4">
        <h2>Genera tú pase aquí</h2>
       <p><a class="btn btn-default" href="@Url.Action("GeneratePass","Home")">¡Adquirir mi pase!</a></p>
    </div>
</div>